{% extends "base.html" %}
{% block title %}
Board | Home
{% endblock %}
{% block content %}


<div class='container'>
    <div class='content'>
        <h1>痩せてみろよ</h1>
        <form action="{% url 'diet:create' %}" method="post">
            {% csrf_token %}
            <input type="text" name="name">
            <input type="text" name="kcal">
            <input type="submit" value="登録">
    </div>
</div>

{% for meal in all_meal %}
    <p>{{ meal.created_at }}     食べたものは{{ meal.name }}    カロリーは{{ meal.kcal }}kcal</p>
{% endfor %} 
<h1>合計カロリー{{total}}kcal<h1>
{% if warning_message %}
    <p style="color: red;">{{ warning_message }}</p>
{% endif %}


{% endblock %}

