{% extends "base.html" %}
{% block title %}
Board | Home
{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'diet/style.css' %}">
<div class="all">
    <div class='container'>
        <div>
            <h1 class="title">痩せてみろよ</h1>
            <form class="maaa"action="{% url 'diet:create' %}" method="post">
                {% csrf_token %}
                <input class="meal" type="text" name="name" placeholder="食べたもの">
                <input class="kcal" type="text" name="kcal" placeholder="カロリー">
                <input type="submit" value="登録">
            </form>
        </div>
    </div>

    {% for meal in all_meal %}
        <div class="pipi">
            <p class="record">{{ meal.created_at }}     食べたものは{{ meal.name }}    カロリーは{{ meal.kcal }}kcal  {{event.id}}</p>
            <form action="{% url 'diet:delete' meal.id %}" method="post">
                {% csrf_token %}
                <input class="delete" type="submit" value="削除">
            </form>
        </div>
    {% endfor %} 
    <h1>合計カロリー{{total}}kcal<h1>
    {% if warning_message %}
        <p class="caveat">{{ warning_message }}</p>
    {% endif %}


    {% endblock %}
</div>
